.event_form{
    padding: 40px;
    border-radius: 15px;
    -webkit-box-shadow: 5px 5px 21px -4px rgba(0, 0, 0, 0.6);
    box-shadow: 5px 5px 21px -4px rgba(0, 0, 0, 0.6);
    background: #ffffff;
    margin: 50px 0 0 0;
}

.event_form label,.event_form p{
    display: inline-block;
    width: 250px;
    height: 25px;
}

#event_durationTime{
    display: inline-block;
}

#event_maxRegistration, #event_durationTime_hour, #event_durationTime_minute{
    width: 100px;
}

.event_form input, .event_form select{
    display: inline-block;
    width: 200px;
    height: 25px;
    padding: 0 10px;
}
.event_form_top{
    display: flex;
}

.event_form_right, .event_form_left{
    width: 550px;
}

.placeDetailsHidden{
    display: none;
}


.content_form_place{
    display: flex;
    align-items: center;
}

#placeFormButton img{
    cursor: pointer;
    height: 45px;
}

#add_place{

    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;

}

#add_place img{
    cursor: pointer;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
}

#add_place > div{

    background-color: #fefefe;
    margin: auto;
    padding: 40px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    text-align: center;
}

#add_place > div label{
    display: inline-block;
    width: 150px;
    text-align: left;
}
#add_place > div input, #add_place > div select{
    display: inline-block;
    width: 300px;
    height: 25px;
    padding: 0 10px;
}
li{
    display: inline-block;
    list-style-type: none;
    color: red;
    margin: 0 0 10px 0;
}
#add_place  button{
     display: inline-block;
     margin: 25px 0 0 50px;
     width: 170px;
     height: 40px;
     background: #D9EC3E;
     border: 1px solid #D9EC3E;
     color: #fff;
     font-size: 14px;
     cursor: pointer;
 }

#add_place button:hover{
    color: #D9EC3E;
    background: transparent;
}

.eventDesc{
    display: flex;
}

#event_eventInformations{
    width: 70%;
    max-width: 70%;
    min-width: 70%;
    min-height: 150px;
}

.event_Buttons{
    margin: 50px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.event_Buttons  button{
    display: inline-block;
    margin:  25px 10px 0 10px;
    width: 170px;
    height: 40px;
    background: #369C7F;
    border: 1px solid #369C7F;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

.event_Buttons button:hover{
    color: #369C7F;
    background: transparent;
}
.event_Buttons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin:  25px 10px 0 10px;
    width: 170px;
    height: 40px;
    background: #369C7F;
    border: 1px solid #369C7F;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

.event_Buttons a:hover{
    color: #369C7F;
    background: transparent;
}

@media screen and (max-width: 1250px){

    .event_form label, .event_form p {
        display: inline-block;
        width: 200px;
    }

    .event_form_top .event_form_right,.event_form_top .event_form_left {
        width: 450px;
    }

}

@media screen and (max-width: 1100px){

    .event_form_top {
        display: flex;
        flex-direction: column;
    }

    .event_form_top .event_form_right,.event_form_top .event_form_left {
        text-align: center;
    }

}

@media screen and (max-width: 700px){
    .event_form {
        width: 350px;
    }
    .event_form_top {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .event_form_top .event_form_right, .event_form_top .event_form_left {
        text-align: left;
        width: 300px;
    }

    .event_form label, .event_form p , .event_form select {
        display: block;
    }

    .content_form_place{
        display: block;
    }

    .eventDesc {
        flex-direction: column;
    }
    #event_eventInformations {
        margin: 20px 0 0 0;
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        min-height: 150px;
    }


    .event_Buttons{
        flex-direction: column;
    }

}

@media screen and (max-width: 700px){

    h1{
        font-size: 28px;
    }

    .event_form {
        width: 280px;
    }

    .event_form_top .event_form_right, .event_form_top .event_form_left {
        width: 250px;
    }

}