.filtre{
    background: rgba(245,245,245,0.5);
    width: 90vw;
    border-radius: 15px;
    -webkit-box-shadow: 5px 5px 21px -4px rgba(0,0,0,0.6);
    box-shadow: 5px 5px 21px -4px rgba(0,0,0,0.6);
    padding:3vh;
}

.event_search_form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.event_search_form_right,
.event_search_form_left,
#search{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
    padding:1.5vh 3vh;
}

#search{
    border-radius: 1vw;
    background: #80B5EA;
    border: none;
    color: #fff;
    font-size: 2vw;
    cursor: pointer;
}
#search:hover{
    color: #80B5EA;
    background: transparent;
}

.event_search_form_right>div,
.event_search_form_left>div{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width:30vw;
    padding:1.5vh 0;
}

.event_search_form_right>div>label,
.event_search_form_left>div>label{
    margin-right: auto;
}

#event_search_form_dates{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

#event_search_form_dates>div>label{
    margin-right: 2.5vw;
}

tr{
    background: rgba(245,245,245,0.8);
}

.app_details{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.app_details>h2{
    margin-right: auto;
}



table td, table th {
    border: 1px solid #000;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
table th {
    background-color: #888888;
    font-weight: bold;
    text-align: center;
    padding: 7px 20px;
}

table a {
    color: #436B7C;
    margin: 0 5px;
}
table a:hover{
    text-decoration: none;
}

td{
    text-align: center;
    padding: 7px 20px;
}

.event_create{
    margin:3vh auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background: darkgreen;
    border: none;
    color: #fff;
    border-radius: 1vw;
    padding:1.5vh 3vh;
    font-size: 2vh;
    cursor: pointer;
}
.event_create:hover{
    color: #80EA9B;
    background: transparent;
}
/*
@media screen and (max-width: 1150px){

    .event_search_form {
        display: block;
    }

    form{
        margin: 0 auto 0 50px;
    }

    .event_search_form > button {
        margin: 0;
        width: 170px;
        height: 40px;
    }
    .event_search_form_left {
        width: auto;
    }
}
*/
@media screen and (max-width: 1150px){
    .event_search_form_right,
    .event_search_form_left,
    #search{
        min-width: 50%;
    }
    .hidden{
        display: none;
    }

}

@media screen and (max-width: 800px){
    .event_search_form_right,
    .event_search_form_left,
    #search{
        min-width: 60vw;
    }

    .event_search_form_left,
    .event_search_form_left>div,
    .event_search_form_right{
        width:60%;
        flex-direction: column;
    }

    #event_search_form_dates{
        width:60%;
        justify-content: space-evenly;
    }

    .hidden750{
        display: none;
    }

    form{
        margin: 0 auto 0 10px;
    }
    .event_search_form_left label, .event_search_form_right label {
         margin: 0 10px;
        font-size: 12px;
     }
    .event_search_form_left input {
        width: 70px;
    }
    td {
         text-align: center;
         padding: 7px 10px;
     }

    .event_create{
        margin: auto;
    }

}