.filtre{
    background: rgba(245,245,245,0.5);
    width: 90vw;
    border-radius: 15px;
    -webkit-box-shadow: 5px 5px 21px -4px rgba(0,0,0,0.6);
    box-shadow: 5px 5px 21px -4px rgba(0,0,0,0.6);
    padding:3vh;
}

tr{
    background: rgba(245,245,245,0.8);
}

.app_details{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.app_details>h2{
    margin-right: auto;
}

.event_search_form{
    display: flex;
}

.event_search_form_left{
    display: inline-block;
    width: 500px;
}

.event_search_form_dates{
    display: flex;
}

.event_search_form_left > div{
    margin: 10px 0 10px 0;
}

.event_search_form_left label, .event_search_form_right label{
    display: inline-block;
    margin: 0 20px;
}


.event_search_form_left > div, .event_search_form_right > div > div{
    margin: 10px 0 10px 0;
}

.event_search_form > button{
    display: inline-block;
    margin: 25px 0 0 50px;
    width: 170px;
    height: 70px;
    background: #80B5EA;
    border: 1px solid #80B5EA;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}
.event_search_form > button:hover{
    color: #80B5EA;
    background: transparent;
}

table td, table th {
    border: 1px solid #000;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
table th {
    background-color: #888888;
    font-weight: bold;
    text-align: center;
    padding: 7px 20px;
}

table a {
    color: #436B7C;
    margin: 0 5px;
}
table a:hover{
    text-decoration: none;
}

td{
    text-align: center;
    padding: 7px 20px;
}

.event_create{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 0 auto 0 50px;
    width: 170px;
    height: 50px;
    background: #80EA9B;
    border: 1px solid #80EA9B;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}
.event_create:hover{
    color: #80EA9B;
    background: transparent;
}

@media screen and (max-width: 1150px){

    .event_search_form {
        display: block;
    }

    form{
        margin: 0 auto 0 50px;
    }

    .event_search_form > button {
        margin: 0;
        width: 170px;
        height: 40px;
    }
    .event_search_form_left {
        width: auto;
    }
}

@media screen and (max-width: 1000px){

    .hidden{
        display: none;
    }

}

@media screen and (max-width: 750px){

    .hidden750{
        display: none;
    }

    form{
        margin: 0 auto 0 10px;
    }
    .event_search_form_left label, .event_search_form_right label {
         margin: 0 10px;
        font-size: 12px;
     }
    .event_search_form_left input {
        width: 70px;
    }
    td {
         text-align: center;
         padding: 7px 10px;
     }

    .event_create{
        margin: auto;
    }

}