/**
      BASE STYLE  : COMPUTER
 **/

*{
    box-sizing: border-box;
    font-family: 'varela round', serif;
    margin: 0;
    padding:0;
}

body{
    display:flex;
    flex-direction: column;
    height:100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 0.2)), url('../img/Caroussel-Monde-Marins-1.jpg');
    background-size: cover;
}

main{
    flex-grow: 1;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/**
      BASE STYLE  : TABLET
 **/



/**
      BASE STYLE  : PHONE
 **/
@media only screen and (max-width: 450px) and (orientation: portrait) {
    body{
        height:100dvh;
    }
}
