#SuperCard{
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    height: 100vh;
    width:100vw;
    background: rgba(255,255,255,0.3);
}

form{
    background: rgba(245,245,245,0.5);
    width:40vw;
    border-radius: 15px;
    -webkit-box-shadow: 5px 5px 21px -4px rgba(0,0,0,0.6);
    box-shadow: 5px 5px 21px -4px rgba(0,0,0,0.6);
    padding:1.5vh 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

label{
    display: none
}

input{
    width: 100%;
    height: 5vh;
    margin:1.5vh 3vh;
    padding: 0 5px;

}

input[type='checkbox']{
    height: 15px;
    width: 15px;
}

form  >  button{
    display: inline-block;
    width:100%;
    height: 5vh;
    margin:1.5vh 3vh;
    border-radius:1vh;
    background: lightblue;
    color: black;
    border: none;
    cursor: pointer;
}

form > button:hover{
    box-shadow: inset 0.2vh 0.2vh 0.5vh 0.2vh midnightblue;
    background: cornflowerblue;
    border-radius:1vh;
    color: black;
}

#BugDeMesCouilles{
    margin-top:1.5vh;
    margin-bottom: 1.5vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.checkbox{
    display: inline-block;
}

.checkbox > label{
    display: inline-block;
}

.checkbox > a{
    display: block;
    margin: 10px 0 0 0;
}

.alert{
    width: 100%;
    color: red;
    margin: 0 0 20px 0;
    justify-content: center;
}

@media  screen and (max-width: 550px){

    form{
        text-align: center;
    }

    label{
        display: block;
        width: auto;
        margin: 0 0 15px 0;
    }

    input{
        width: 100%;
    }

    form > div{
        flex-direction: column-reverse;
        justify-content: center;
    }

    form > div >  button{
        margin: 30px auto 0 auto;
    }
}