@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

nav{
    width:100vw;
    height:5vh;
}

nav>ul{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:2vh;
}

nav > ul > a{
    margin-right: auto;
    height:3vh;
}

nav > ul > li{
    list-style-type: none;
}
