@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

/**
      HEADER STYLE : COMPUTER
 **/

header{
    background: lightgrey;
}

nav{
    width:100vw;
    height:6vh;
    display: flex;
    flex-direction: row;
}

nav>ul{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:1vh;
}

nav > a{
    margin: 0 auto 0.5vh 0.5vh;
    height:6vh;
}

nav> a > img{
    height:6vh;
}

nav > ul > li{
    list-style-type: none;
    padding:1vh;
    margin-right: 1vh;
    background: linear-gradient(145deg, lightsteelblue 40%, lightcyan);
    box-shadow: 0.2vh 0.2vh 0.5vh 0.2vh lightsteelblue;
    border-radius: 1vh;
}
nav > ul >li:hover{
    background: linear-gradient(145deg, lightcyan 40%, lightsteelblue);
    box-shadow: inset 0.2vh 0.2vh 0.5vh 0.2vh lightcyan;
}

nav>ul>li>a{
    text-decoration: none;
    color: black;
}

/**
      HEADER STYLE : TABLETS
 **/


/**
      HEADER STYLE : PHONE
 **/
@media only screen and (max-width: 450px) and (orientation: portrait) {

    nav {
        margin: 1dvh 0 0 1dvh;
        background: lightgrey;
        border-radius: 40%;
        height: 6dvh;
        width:fit-content;
    }

    nav > a > img {
        height: 6dvh;
    }

    nav > ul {
        display: none;
        position: absolute;
        top: 6dvh;
        left: 0;
        padding: 1dvh;
        border-radius: 1dvh;
    }

    nav:hover > ul {
        display: block;
    }

    nav > ul > li {
        margin-bottom: 1dvh;
        width:50vw;
        min-height:5dvh;
        padding:1dvh;
        font-size:3dvh;
    }

    nav > ul > li:hover {
        border-radius: 1dvh;
    }
}


