@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

nav{
    width:100vw;
    height:5vh;
}

nav>ul{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:1vh;
}

nav > ul > a{
    margin: 1vh auto 1vh 1vh;
    height:5vh;
}

nav> ul > a > img{
    height:100%;
}

nav > ul > li{
    list-style-type: none;
    padding:1vh;
    margin-right: 1vh;
    background: linear-gradient(145deg, lightslategray 40%, lightsteelblue);
    border-radius: 1vh;
}
