/* Affichage d'un profil */
form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap:1vh;
    padding: 40px;
    border-radius: 15px;
    -webkit-box-shadow: 5px 5px 21px -4px rgba(0,0,0,0.6);
    box-shadow: 5px 5px 21px -4px rgba(0,0,0,0.6);
    background: rgba(245,245,245,0.5);
}
form>div,
form>div>div{
    width:100%;
}
img{
    max-height:10vw;
    max-width:10vw;
}
label{
    margin-right: auto;
}
h1{
    font-weight: normal;
    font-size: 30px;
}

section > p{
    display: inline-block;
    margin: 10px 10px;
    font-size: 18px;
    min-width: 150px;
    text-align: left;
}



@media screen and (max-width: 1200px){

    section{
        width: 100%;
        padding: 20px 0 20px 0;
    }
    section > p{
        width: 40%;
    }

}


/* Modification du profil */


form {
    text-align: center;
    padding: 40px;
    border-radius: 15px;
    -webkit-box-shadow: 5px 5px 21px -4px rgba(0, 0, 0, 0.6);
    box-shadow: 5px 5px 21px -4px rgba(0, 0, 0, 0.6);
    background: #ffffff;
    margin: 50px 0 0 0;
}

form > img, section > img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 15px;
    margin: 40px 0;
}

form > div > div:last-child{
    display: flex;
    justify-content: space-between;
}

form > div > div > p{
    display: inline-block;
    margin: 10px 10px;
    font-size: 18px;
    width: 235px;
    text-align: left;
    border: 1px solid #8b8b8b;
    color: #8b8b8b;
    padding: 0 10px;
    cursor: not-allowed;
}

form > div > div > label{
    display: inline-block;
    margin: 10px 10px;
    font-size: 18px;
    min-width: 150px;
    text-align: left;
}
form > div > div >input{
    display: inline-block;
    margin: 10px 10px;
    font-size: 18px;
    min-width: 150px;
    text-align: left;
    padding: 0 10px;
}
form > div > div >select{
    display: inline-block;
    margin: 10px 10px;
    font-size: 18px;
    min-width: 150px;
    text-align: left;
    padding: 0 10px;
}

form > div > div > ul{
    color: red;
    display: inline-block;
    height: 30px;
    margin: 10px 0 0 0;
}

form > div > div > ul > li{
    list-style-type: none;
}

input[type="file"]{
    display: inline-block;
    width: 150px;
    padding: 0;
}

#user_edit_save, div > button{
    display: inline-block;
    margin: 40px 0 0 0;
    color: #ffffff;
    background: #65A4E3;
    border: 1px solid #65A4E3;
    cursor: pointer;
    height: 40px;
    width: 150px;
}

#user_edit_save:hover, div > button:hover{
    color: #65A4E3;
    background: #fff;
}


#GoHome{
    margin:3vh auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background: darkgreen;
    border: none;
    color: #fff;
    border-radius: 1vw;
    padding:1.5vh 3vh;
    font-size: 2vh;
    cursor: pointer;
}

#GoHome:hover{
    color: #80EA9B;
    background: transparent;
}
@media screen and (max-width: 550px){

    form{
        width:90vw;
        margin:0;
        padding:0;
    }
    img{
        max-height:10dvh;
        max-width:10dvh;
    }

}