form, main>div{
    background: #fff;
    border-radius: 15px;
    -webkit-box-shadow: 5px 5px 21px -4px rgba(0,0,0,0.6);
    box-shadow: 5px 5px 21px -4px rgba(0,0,0,0.6);
    padding: 40px;
    text-align: center;
}

main > div > *{
    color: #5DBB20;
}

label{
    display: inline-block;
}

input{
    width: 200px;
    height: 25px;
    padding: 0 5px;
}

.alert{
    width: 100%;
    color: red;
    margin: 0 0 20px 0;
    justify-content: center;
}

form > div > div > ul{
    color: red;
    display: inline-block;
    height: 30px;
    margin: 10px 0 0 0;
}

form > div > div > ul > li{
    list-style-type: none;
}

.resetProcess label{
    display: inline-block;
    width: 250px;
    text-align: left;
}


button, #return{
    display: inline-block;
    color: #ffffff;
    background: #65A4E3;
    border: 1px solid #65A4E3;
    cursor: pointer;
    height: 40px;
    width: 150px;
}

button:hover {
    color: #65A4E3;
    background: #fff;
}

#return{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background: #EA3641;
    border: 1px solid #EA3641;
}

#return:hover{
    color: #EA3641;
    background: #fff;
}