{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('css/admin/home.css') }}">
{% endblock %}

{% block body %}

    <h1>Page Administration</h1>

    <section>

        <a href="{{ path('app_campus_index') }}">Gérer les campus</a>
        <a href="#">Gérer les villes</a>
        <a href="#">Gérer les utilisateurs</a>


    </section>

{% endblock %}
