{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block head %}
{% endblock %}

{% block body %}

    <h1>Page Administration</h1>

    <div>

        <a>Gérer les campus</a>
        <a>Gérer les villes</a>
        <a>Gérer les utilisateurs</a>

    </div>

{% endblock %}
