

section{
    text-align: left;
    background: rgba(245,245,245,0.5);
    border-radius: 15px;
    -webkit-box-shadow: 5px 5px 21px -4px rgba(0,0,0,0.6);
    box-shadow: 5px 5px 21px -4px rgba(0,0,0,0.6);
    padding: 40px;
}

section > form > div > div >img{
    height: 15px;
}

section > form{
    margin: 0 0 0 15px;
}

section > form > h2{
    font-weight: normal;
    font-size: 22px;
}

section > form > div{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 340px;
}

section > form > button{
    display: inline-block;
    color: #ffffff;
    background: #65A4E3;
    border: 1px solid #65A4E3;
    cursor: pointer;
    height: 25px;
    width: 100px;
    margin: 0 0 0 15px;
    text-decoration: none;
}
section > form > button:hover{
    color: #65A4E3;
    background: #fff;
}

section > form > div > div{
    display: inline-flex;
    border: 1px solid #000;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
}
section > form > div > div input{
    border: none;
    padding: 0 10px;
}

section > form > div > div > div{
    display: inline-block;
}

section > section{
    max-height: 300px;
    overflow-y: auto;
    box-shadow: none;
    width: 100%;
}

table {
    border-collapse: collapse;
    width: 500px;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
table > tbody > tr > td{
    width: 250px;
}
table > tbody > tr > td > form{
    display: inline-block;
}
table > tbody > tr > td > form > button, table > tbody > tr > td > a, table > tbody > tr > td > button{
    display: inline-block;
    background: transparent;
    border: none;
    color: #0000EE;
    text-decoration: underline;
    font-size: 14px;
    margin: 0 10px;
    cursor: pointer;
}

table > tbody > tr > td > form > button:hover, .table > tbody > tr > td > a:hover, table > tbody > tr > td > button:hover{
    text-decoration: none;
}

table label{
    display: none;
}

.error{
    text-align: center;
}

.error > ul{
    color: red;
    display: inline-block;
    height: 30px;
    margin: 10px 0 0 0;
}

.error > ul > li{
    list-style-type: none;
}

@media screen and (max-width: 650px){

    section > form{
        margin: 0 0 0 30px;
        width: 70%;
        display: inline-flex;
        flex-direction: column;
    }

    section > form > div{
        flex-direction: column;
        width: 250px;
        align-items: flex-start;
    }

    section > form > button{
        margin: 20px 0 0 0;
    }

    section, table{
        margin: auto;
        padding: 40px 5px;
        width: 95%;
    }

    table > tbody > tr > td{
        width: 50%;
    }
}