section{
    text-align: center;
    background: #fff;
    border-radius: 15px;
    -webkit-box-shadow: 5px 5px 21px -4px rgba(0,0,0,0.6);
    box-shadow: 5px 5px 21px -4px rgba(0,0,0,0.6);
    padding: 40px;
}

label{
    display: none;
}

section > form > input{
    height: 40px;
    margin: 0 0 20px 0;
    width: 200px;
    padding: 0 5px;
}

section > form > button{
    display: inline-block;
    color: #ffffff;
    background: #65A4E3;
    border: 1px solid #65A4E3;
    cursor: pointer;
    height: 40px;
    width: 150px;
    text-decoration: none;
}

section > form >  button:hover{
    color: #65A4E3;
    background: #fff;
}

.suprrr{
    color: #ffffff;
    background: red;
    border: 1px solid red;
}
.error{
    text-align: center;
    margin: 0 0 20px 0;
}

.error > ul{
    color: red;
    display: inline-block;
    height: 30px;
    margin: 10px 0 0 0;
}

.error > ul > li{
    list-style-type: none;
}
.suprrr:hover{
    color: red;
    background: #fff;
}

section > a:hover{
    text-decoration: none;
}

tr{
    display: flex;
    justify-content: space-between;
}

tr > * {
    display: inline-block;
    height: 25px;
    text-align: left;
    min-width: 100px;
}