section{
    margin: 50px 0 0 0;
    background: rgba(245,245,245,0.5);

}

h1{
    margin: 0 30%;
    padding-top: 2vh;
}
section > a{
    display: inline-flex;
    width: 200px;
    height: 30px;
    text-decoration: none;
    border: 1px solid #0000EE;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
section > a:hover{
    background: #0000EE;
    color: #ffffff;
}

@media screen and (max-width: 750px){

    section{
        display: flex;
        flex-direction: column;
    }


    h1{
        font-size: 28px;
    }

}

#GoHome{
    margin:3vh auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background: darkgreen;
    border: none;
    color: #fff;
    border-radius: 1vw;
    padding:1.5vh 3vh;
    font-size: 2vh;
    cursor: pointer;
}

#GoHome:hover{
    color: #80EA9B;
    background: transparent;
}