section{
    background: rgba(245,245,245,0.5);
}

section > form > div{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
}

section > a{
    margin: 0 0 0 20px;
}
section > a:hover{
    text-decoration: none;
}

@media screen and (max-width: 1150px){
    .hidden{
        display: none;
    }
}

@media screen and (max-width: 650px) {

    section > form > div {
        flex-direction: column;
        width: 250px;
        align-items: flex-start;
    }

}