<header>
    <nav>
        <ul>
            <a href="{{ path('main_home') }}"><img src="{{ asset('img/logo.jpg') }}">Sortir.com</a>
            <li><a href="#">Administration</a></li>
            <li><a href="#">Accueil</a></li>
            <li><a href="#">Mon profil</a></li>
            <li><a href="#">Se déconnecter</a></li>
        </ul>
    </nav>
</header>
<main>
