<header>
    <nav>
        <ul>
            <a href="{{ path('main_home') }}"><img src="{{ asset('img/CatToken.png') }}"></a>
            <li><a href="#">Administration</a></li>
            <li><a href="#">Accueil</a></li>
            <li><a href="#">Mon profil</a></li>
            <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
        </ul>
    </nav>
</header>
<main>
