<header class="header">
    <nav class="header_nav">
        <ul class="header_links">
            <a class="header_logo_title" href="{{ path('main_home') }}"><img class="header_logo_img" src="{{ asset('img/logo.jpg') }}">Sortir.com</a>
            <li><a href="#">Administration</a></li>
            <span>|</span>
            <li><a href="#">Acceuil</a></li>
            <span>|</span>
            <li><a href="#">Mon profil</a></li>
            <span>|</span>
            <li><a href="#">Se déconnecter</a></li>
        </ul>
    </nav>
</header>